* {
    padding: 0;
    margin: 0;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link, .nav-link:hover, .nav-link:focus {
    background-color: transparent;
    color: #009AD8;
    border-color: #009AD8;
    border: 1px solid #009AD8;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.nav-link {
    color: white;
}

.navbar {
    height: 140px;
}

header {
    height: 500px;
    background-image: url('../assets/banner.png');
    background-repeat: no-repeat;
    /* background-position: center center; */
    background-size: contain;
    
}

.form-control {
    position: relative;
    display: inline-block;
    border: none;
    height: 50px;
}
.form-control:focus {
    border: none;
    box-shadow: none;
    color: white;
    
}

.form-control ::placeholder {
    color: white;
}

.searchInput .btn {
    position: absolute;
    right: 130px;
    transform: translateY(14%);
}

.weatherCard {
    background-color: #323544;
    height: 350px;
    color: #C0C1C9;
}
    
.dateHeader {
    background-color: #2D303D;
    width: 100% !important;
}

.row>* {
    padding-right: 0;
    padding-left: 0;
}

.degreeText {
    font-size: 90px;
    font-weight: 700;
    color: white;
    line-height: 135px;
}